.mt-5{
    font-weight: 600;
    font-size: 55pt;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: rgb(175, 132, 24);
  

}

html,body{
    overflow-x: hidden;
}


.hh{
    font-size: 25pt;
    color: rgb(97, 91, 91)

}

.home{
    margin-top: 20rem
}

.img-fluid{
    margin-right: 0rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    display: inline-flexbox;
    margin-bottom: 20rem;
}

.display-2{
    margin-bottom: 3rem;
    font-weight: 500;
    color: rgb(175, 132, 24);

}
#cardspace{
    margin-bottom: 3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
.card-text{
    color: rgb(196, 187, 187)

}
.card-title{
    color: rgb(196, 187, 187)

}

.drop{
    margin-top: 10px;
}
.drop2{
    margin-top: 15px;
}

.backGround{
    background-image: url("/img/yo.jpg");
}

*{
    display: border-box;
}

.contact{
    margin-bottom: 1.5rem !important;
}

.btn-dark{
    margin-top: .5rem;
}
.resume{
    margin-top: .5rem;
}